<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Olen painanut "Käynnistä" lähetä ok "sms, mutta en vielä näe seurantaohjelmaa.</key>
        <string>Varmista, että seuranta on poissa. Jos se on päällä, sillä on ongelmia yhteyden muodostamisessa
            satelliitit. Kun seuranta tulee kosketuksiin satelliittien kanssa, sininen valo alkaa vilkkua.</string>
	</dict>
	<dict>
		<key>Olen painanut "Käynnistä, mutta en saa sms-vastausta trackeriltä.</key>
        <string>Siirry kohtaan Asetukset-> Profiili ja kirjoita maakoodi ja puhelinnumero.
            Siirry sitten seuraajille-> ja napauta seurantaasi. Muokkaa Trackeria avautuu. Rullaa alas,
            ja paina nollauspainiketta. Kun painat Nollaa-painiketta, lähetetään viisi tekstiviestiä.
            Android-puhelimissa kaikki viisi lähetetään kerralla. IPhone-puhelimissa tulee tekstiviestejä
            Ominaisuus avautuu ja sinun on lähetettävä yksi kerrallaan. Palaa sitten päävalikkoon ja paina "Käynnistä"</string>
	</dict>
	<dict>
		<key>Kun painan sovelluksen "Aloita" -painiketta, mitään ei tapahdu.</key>
        <string>Et ole valinnut, mihin seurantaan haluat aloittaa. Kosketa kaukovalot päävalikossa.
            Kosketa sitten pientä ympyrää trackerin oikealla puolella. Palaa päävalikkoon.
            Trackerin nimen on nyt oltava "Käynnistä" -painikkeen yläpuolella. Paina sitten "Start" -painiketta ja
            Sovellus lähettää tekstiviestin seurantaan sen käynnistämiseksi.</string>
	</dict>
	<dict>
		<key>Haluan vaihtaa kuinka usein seuranta lähettää GPS-signaalin.</key>
        <string>Siirry seurattimiin ja napauta raitaa, jonka haluat muuttaa signaalin taajuutta.
            Selaa alas kohtaan "Signaali". Paina painiketta "Signal" ja vaihda haluamasi pituus.
            Paina "Päivitä". Palaa päävalikkoon ja paina "Käynnistä".</string>
	</dict>
	<dict>
		<key>Katson vain GPS-sijaintia matkan viimeiselle osalle.</key>
        <string>Voit asettaa historian seurannan pituuden menemällä päähän
            valikko-> Asetukset-> Katseluasetukset. Valitse haluamasi aika ja paina Tallenna.
            Nyt näet GPS-sijainnin tässä ajassa.</string>
	</dict>
	<dict>
		<key>Haluan nähdä ystäväni seuran</key>
        <string>Siirry kohtaan Asetukset-Yhdistä ja napauta "+" -merkkiä oikeassa yläkulmassa.
            Etsi ystäväsi käyttäjätunnus ja paina "+". Ystäväsi saa nyt käyttäjätunnuksesi alla
            hänen "connect to" -luettelonsa. Hänen täytyy lisätä sinut koskettamalla sen vieressä olevaa "+" -merkkiä
            sinun nimesi. Jotta voit nähdä hänen seurantaansa, hänen on koskettava sen vieressä olevaa "Eye" -kuvaketta
            sinun nimesi. Silmän kuvake muuttuu vihreäksi.</string>
	</dict>
	<dict>
		<key>Haluan estää ystäväni näkemästä seurantaani.</key>
        <string>Siirry kohtaan Asetukset-> Liitä ja kosketa "Eye" -kuvaketta. Eye-kuvake muuttuu
            vihreästä harmaaseen ja saada linja läpi. Ystäväsi ei enää näe seurantaasi.</string>
	</dict>
	<dict>
		<key>Haluan ystäväni seuran, mutta sanon, että minun täytyy maksaa siitä</key>
        <string>Jos et omista käyttäjänimessäsi rekisteröitynyttä jäljitteliä, sinun on maksettava pieni summa
            Kuukauden summa nähdäksesi sen. Voit lopettaa maksun, kun haluat.</string>
	</dict>
	<dict>
		<key>Laitoin tracker-tilauksen pitoon.</key>
        <string>Siirry Asetukset-kohtaan ja paina "Keskeytä tilaus". Sitten lähetetään sähköpostia GPS: lle
            Ping ja peruutamme tilauksen.</string>
	</dict>
	<dict>
		<key>Trackerin sijainti on keskellä merta.</key>
        <string>Tämä tarkoittaa, että seuranta ei ole päivittänyt GPS-sijaintiaan eikä ole saanut satelliittia
            ottaa yhteyttä. Ota seuranta ulos ja käynnistä se uudelleen painamalla virtapainiketta.</string>
	</dict>
	<dict>
		<key>Haluan lopettaa sovelluksessani hankitun tilauksen nähdäksesi ystäväni seurannan.</key>
        <string>Tämä on pysäytettävä Apple App Storessa tai Google Play -kaupassa. IPhonelle siirtyy App
            Tallenna sovellus ja selaa alaspäin käyttäjälle. Kosketa omenunnistustunnusta ja katso sitten Näytä-tunnusta.
            Anna salasanasi, siirry tilauksiin ja paina adminstrer. Siellä voit pysähtyä
            tilaus. Android: avaa puhelimesi Google Play -kaupasta. Siirry Omat sovellukset kautta
            Google Play -kaupan valikko. Asennettujen sovellusten vasemmalla puolella on luettelo sinun
            tilauksia. Tässä voit valita tilauksen, jonka haluat lopettaa.</string>
	</dict>
	<dict>
		<key>En näe omaa asentoani</key>
        <string>Tämä tarkoittaa, että et ole myöntänyt sovellukselle pääsyä puhelimen GPS-ominaisuudelle.
            Siirry puhelimen asetuksiin ja anna GPS Ping -ohjelman käyttöoikeus.</string>
	</dict>
	<dict>
		<key>Haluan nimetä seuranta uudelleen</key>
        <string>Siirry seuraajille ja napsauta seurantaasi. Muokkaa Tracker aukeaa.
            Täällä voit syöttää trackerin nimen nimellä "Nimi"</string>
	</dict>
	<dict>
		<key>Kuinka näen trackerin päivittäisen lokin</key>
        <string>Siirry lokiin ja napauta kalenteri oikeassa yläkulmassa.
            Valitse nykyinen päivämäärä ja sovellus noutaa kyseisen päivän GPS-sijainnit.</string>
	</dict>
	<dict>
		<key>Miten löydän pohjoisen kartalta</key>
        <string>Avaa kartta ja seuraa ja laita kaksi sormea kartalla ja kierrä. Kompassi tulee esille
            näytön vasemmalla puolella. Tämä kompassi näyttää pohjoiseen kartalta.</string>
	</dict>
	<dict>
		<key>Mikä näyttää kompassin, joka on aina kartalla.</key>
		<string>Tämä kompassi näyttää todella pohjoisesta.</string>
	</dict>
	<dict>
		<key>Kuinka monta seurantaa voi olla sovelluksessa</key>
		<string>Voit ostaa ja katsella niin monta seurata kuin haluat.</string>
	</dict>
	<dict>
		<key>Miten ON / OFF-painike on</key>
		<string>Tämä painike on seurannan reunalla / sivulla. Pidä se vähintään kolmen sekunnin ajan.</string>
	</dict>
	<dict>
		<key>Kuinka näen onko trackerillä GPS-signaali</key>
        <string>Avaa näyttö painamalla ON / OFF-painiketta. Jos sinulla on ympyrä pyörän sisällä
            Näytöllä on GPS-signaali.</string>
	</dict>
	<dict>
		<key>Hvordan kan jeg ringe til trackeren</key>
		<string>Napauta viimeinen viesti kartassa. Kosketa puhelukuvaketta.</string>
	</dict>
</array>
</plist>
