<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Jeg har trykket "Start" upload ok "sms, men jeg kan endnu ikke se tracker.</key>
        <string>Sørg for at tracker er ude. Hvis det er i, vil det have problemer med at oprette forbindelse
            satellitter. Når sporingen kommer i kontakt med satellitterne, begynder det blå lys at blinke.</string>
	</dict>
	<dict>
		<key>Jeg har trykket på "Start, men jeg får ikke sms-svar fra sporingen.</key>
        <string>Gå til Indstillinger-> Profil og indtast landekode og dit telefonnummer.
            Gå derefter til Trackers-> og tryk på din tracker. Rediger Tracker åbnes. Rul ned,
            og tryk på reset-knappen. Når du trykker på knappen Nulstil, sendes fem tekstbeskeder.
            På Android-telefoner vil alle fem sendes på én gang. På iPhone telefoner vil sms
            Funktionen åbnes, og du skal sende en efter en. Gå derefter tilbage til hovedmenuen og tryk på "Start"</string>
	</dict>
	<dict>
		<key>Når jeg trykker på knappen "Start" i appen, sker der ikke noget.</key>
        <string>Du har ikke valgt, hvilken tracker der skal startes. Tryk på Trackers i hovedmenuen.
            Tryk så på den lille cirkel til højre for sporingen. Gå tilbage til hovedmenuen.
            Trackerens navn skal nu være over "Start" -knappen. Tryk derefter på knappen "Start" og
            App\'en sender nu en sms til trackeren for at starte den.</string>
	</dict>
	<dict>
		<key>Jeg vil gerne ændre, hvor ofte trackeren sender GPS-signalet.</key>
        <string>Gå til Trackers og tryk på det spor, du vil ændre signalfrekvensen.
            Rul ned til "Signal". Tryk på den tid, der vises under "Signal", og skift den til den ønskede længde.
            Tryk på "Opdater". Gå tilbage til hovedmenuen og tryk på "Start".</string>
	</dict>
	<dict>
		<key>Jeg ser kun GPS-stillinger for den sidste del af turen.</key>
        <string>Du kan indstille længden af sporing af din historie ved at gå til hovedet
            menu-> Indstillinger-> Visningsindstillinger. Vælg den ønskede tid og tryk på Gem.
            Du vil nu se GPS-stillinger inden for denne tidsramme.</string>
	</dict>
	<dict>
		<key>Jeg vil gerne se min vens tracker</key>
        <string>Gå til Indstillinger-Connect og tryk på tegnet "+" i øverste højre hjørne.
            Søg efter din vens brugernavn og tryk på "+". Din ven vil nu få dit brugernavn nedenfor
            hans "connect to" liste. Han skal derefter tilføje dig ved at trykke på tegnet "+" ved siden af det
            dit navn. For at du kan se hans spor, skal han trykke på ikonet "Eye" ved siden af det
            dit navn. Ikonet "øje" bliver så grønt..</string>
	</dict>
	<dict>
		<key>Jeg vil stoppe min ven fra at se min tracker.</key>
        <string>Gå til Settings-> Connect og tryk på "Eye" -ikonet. Øjneikonet vil ændre sig
            fra grønt til gråt og få en linje igennem. Din ven kan ikke længere se din tracker.</string>
	</dict>
	<dict>
		<key>Jeg vil have min vens tracker, men jeg siger, jeg skal betale for det</key>
        <string>Hvis du ikke ejer en tracker, der er registreret i dit brugernavn, skal du betale et lille beløb
            Summen af måneden for at se den. Du kan stoppe betalingen, når du ønsker det.</string>
	</dict>
	<dict>
		<key>Jeg vil sætte mit trackerabonnement på vent.</key>
        <string>Gå til Indstillinger og tryk på "Pause abonnement". Der sendes en email til GPS
            Ping og vi annullerer abonnementet.</string>
	</dict>
	<dict>
		<key>Trackerens position er midt i havet.</key>
        <string>Det betyder at tracker ikke har opdateret sin GPS-position og ikke har modtaget satellit
            kontakt. Tag trackeren ud og genstart den ved at trykke på tænd / sluk-knappen.</string>
	</dict>
	<dict>
		<key>Jeg vil stoppe det abonnement, jeg købte i appen, for at se min venns tracker.</key>
        <string>Dette skal stoppes i Apple App Store eller i Google Play Butik. For iPhone gå til App
            Gem appen og rul ned til din bruger. Tryk på dit apple-id og derefter se visnings-id\'et.
            Indtast dit kodeord, gå til abonnementer og tryk på adminstrer. Der kan du stoppe
            abonnement. På Android: Åbn Google Play Butik på din telefon. Gå til Mine Apps via
            Butiksmenuen i Google Play. På venstre side af installerede apps er en liste over din
            abonnementer. Her kan du vælge det abonnement, du vil stoppe.</string>
	</dict>
	<dict>
		<key>Jeg kan ikke se min egen stilling.</key>
        <string>Det betyder, at du ikke har givet appen adgang til GPS-funktionen på telefonen.
            Gå til indstillinger på din telefon og giv adgang til GPS Ping-appen.</string>
	</dict>
	<dict>
		<key>Jeg vil omdøbe sporingen</key>
        <string>Gå til Trackers og hit din sporingsenhed. Rediger Tracker åbnes.
            Her kan du indtaste sporets navn under "Navn"</string>
	</dict>
	<dict>
		<key>Hvordan kan jeg se trackerens daglige log</key>
        <string>Gå til Log og tryk på kalenderen øverst til højre.
            Vælg den aktuelle dato, og appen henter GPS-stillinger for den dato.</string>
	</dict>
	<dict>
		<key>Hvordan finder jeg nord på kortet</key>
        <string>Åbn kort og spor og læg to fingre på kortet og vrid. Et kompas vil komme op
            på venstre side af skærmen. Dette kompas viser nord på kortet.</string>
	</dict>
	<dict>
		<key>Hvad viser kompassen, der altid er på kortet.</key>
		<string>Dette kompas viser virkelig norden.</string>
	</dict>
	<dict>
		<key>Hvor mange trackers kan jeg have i appen</key>
		<string>Du kan købe og se så mange trackers som du vil.</string>
	</dict>
	<dict>
		<key>Hvordan er tænd / sluk-knappen</key>
		<string>Denne knap er på kanten / siden af sporingen. Hold det i mindst tre sekunder.</string>
	</dict>
	<dict>
		<key>Hvordan kan jeg se, om sporingen har GPS-signal</key>
        <string>Tryk på tænd / sluk-knappen for at hente skærmen op. Hvis du har en cirkel inde i hjulet
            På skærmen har du GPS-signal.</string>
	</dict>
	<dict>
		<key>Hvordan kan jeg ringe til trackeren</key>
		<string>Tryk på det sidste indlæg i kortet. Tryk på opkaldsikonet.</string>
	</dict>
</array>
</plist>
