<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Jag har tryckt på "Start" ladda upp ok "sms, men jag kan inte se spåraren.</key>
        <string>Se till att spåraren är ute. Om det är i, kommer det att vara problem med att ansluta
            satelliter. När spåraren kommer i kontakt med satelliterna börjar det blå ljuset blinka.</string>
	</dict>
	<dict>
		<key>Jag har tryckt på "Start, men jag får inte sms-svar från spåraren..</key>
        <string> Gå till Inställningar-> Profil och ange landskod och ditt telefonnummer.
            Gå sedan till Trackers-> och tryck på din spårare. Edit Tracker öppnas. Scrolla ner,
            och tryck på återställningsknappen. När du trycker på återställningsknappen skickas fem textmeddelanden.
            På Android-telefoner skickas alla fem på en gång. På iPhone-telefoner kommer sms
            Funktionen öppnas och du måste skicka en efter en. Gå sedan tillbaka till huvudmenyn och tryck på "Start"</string>
	</dict>
	<dict>
		<key>När jag trycker på knappen "Start" i appen händer ingenting.</key>
        <string>Du har inte valt vilken tracker som ska startas. Tryck på Trackers i huvudmenyn.
            Rör sedan den lilla cirkeln till höger om spåraren. Återgå till huvudmenyn.
            Trackerens namn måste nu ligga över "Start" -knappen. Tryck sedan på "Start" -knappen och
            Appen skickar nu ett textmeddelande till spåraren för att starta det.</string>
	</dict>
	<dict>
		<key>Jag vill ändra hur ofta spåraren skickar GPS-signalen.</key>
        <string>Gå till Trackers och tryck på spåret du vill ändra signalfrekvensen.
            Bläddra ner till "Signal". Tryck på tiden som visas under "Signal" och ändra den till önskad längd.
            Tryck på "Uppdatera". Återgå till huvudmenyn och tryck på "Start".</string>
	</dict>
	<dict>
		<key>JJag ser bara GPS-positioner för den sista delen av resan.</key>
        <string>Du kan ställa in hur lång tid som spårar din historia genom att gå till huvudet
            meny-> Inställningar-> Visningsalternativ. Välj önskad tid och tryck på Spara.
            Du kommer nu att se GPS-positioner inom denna tidsram.</string>
	</dict>
	<dict>
		<key>Jag vill se min väns tracker</key>
        <string> Gå till Inställningar-Anslut och tryck på "+" tecknet längst upp till höger.
            Sök din användares användarnamn och tryck på "+". Din vän kommer nu att få ditt användarnamn nedan
            hans "ansluta till" lista. Han måste sedan lägga till dig genom att trycka på tecknet "+" bredvid det
            ditt namn. För att du ska kunna se sin spårare måste han vidröra ikonen "Eye" bredvid den
            ditt namn. "Eye" -ikonen blir då grön.</string>
	</dict>
	<dict>
		<key>Jag vill stoppa min vän från att se min spårare.</key>
        <string>Gå till Inställningar-> Anslut och peka på "Eye" -ikonen. Ögonikonen kommer att ändras
            från grönt till grått och få en linje genom. Din vän kan inte längre se din spårare.</string>
	</dict>
	<dict>
		<key>Jag vill ha min väns spårare men jag säger att jag måste betala för det</key>
        <string>Om du inte äger en spårare registrerad i ditt användarnamn måste du betala en liten summa
            summan av månaden för att se den. Du kan sluta betala när du vill.</string>
	</dict>
	<dict>
		<key>Jag lägger mitt spårarabonnemang på vent.</key>
        <string>Gå till Inställningar och tryck på "Pausa prenumeration". Ett e-postmeddelande skickas sedan till GPS
            Ping och vi avbryter prenumerationen.</string>
	</dict>
	<dict>
		<key>Spårarens läge ligger mitt i havet.</key>
        <string>Det betyder att spåraren inte har uppdaterat sin GPS-position och inte har mottagit satellit
            kontakta. Ta bort spåraren och starta om den genom att trycka på på / av-knappen.</string>
	</dict>
	<dict>
		<key>Jag vill sluta prenumerationen jag köpte i appen för att se min väns spårare.</key>
        <string>Det måste stoppas i Apples App Store eller i Google Play Butik. För iPhone gå till App
            Spara appen och bläddra ner till din användare. Tryck på ditt äpple-ID och visa sedan visnings-id.
            Ange ditt lösenord, gå till prenumerationer och tryck på adminstrer. Där kan du sluta
            prenumeration. På Android: Öppna Google Play Butik på din telefon. Gå till Mina Apps via
            Butiksmenyn i Google Play. På vänster sida av installerade appar finns en lista över din
            abonnemang. Här kan du välja den prenumeration du vill stoppa.</string>
	</dict>
	<dict>
		<key>Jag kan inte se min egen position.</key>
        <string> Det innebär att du inte har beviljat appen tillgång till GPS-funktionen på telefonen.
            Gå till inställningarna på din telefon och ge åtkomst till GPS Ping-appen.</string>
	</dict>
	<dict>
		<key>Jag vill byta namn på spåraren</key>
        <string>Gå till Trackers och slå din spårare. Edit Tracker öppnas.
            Här kan du skriva in spårarens namn under "Namn"</string>
	</dict>
	<dict>
		<key>Hur kan jag se trackerens dagliga logg</key>
        <string>Gå till Logga och tryck på kalendern längst upp till höger.
            Välj det aktuella datumet och appen hämtar GPS-positionerna för det datumet.</string>
	</dict>
	<dict>
		<key> Hur hittar jag norrut på kartan</key>
        <string>Öppna karta och spår och sätt två fingrar på kartan och vrid. En kompass kommer att komma upp
            på vänster sida av skärmen. Kompassen visar norr på kartan.</string>
	</dict>
	<dict>
		<key>Vad visar kompassen som alltid finns på kartan.</key>
		<string>Denna kompass visar verkligen norr.</string>
	</dict>
	<dict>
		<key>Hur många trackers kan jag få i appen</key>
		<string>Du kan köpa och titta på så många trackers som du vill.</string>
	</dict>
	<dict>
		<key>Hur är knappen ON / OFF?</key>
		<string>Den här knappen ligger på spårarens kant / sida. Håll den i minst tre sekunder.</string>
	</dict>
	<dict>
		<key>Hur ser jag om spåraren har GPS-signal</key>
        <string> Tryck på ON / OFF knappen för att få fram skärmen. Om du har en cirkel inne i hjulet
            På skärmen har du GPS-signal.</string>
	</dict>
	<dict>
		<key>Hur kan jag ringa till trackeren</key>
		<string>Tryck på det senaste inlägget i kartan. Tryck på ringsymbolen.</string>
	</dict>
</array>
</plist>
